<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="welcomeCohort" value="Hello Cohort!"/>
    <add key="presentJobTypes" value="The job types are:"/>
    <add key="goodbyeCohort" value="Goodbye Cohort"/>
    <add key="durationOfSleep" value='2000'/>
  </appSettings>
</configuration>